<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/slick.css" rel="stylesheet" />
    <link href="~/Content/slick-theme.css" rel="stylesheet" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/Slick/slick.min.js"></script>
    <script src="~/Scripts/Site.js"></script>
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Главная", "Main", "Home")</li>
                    <li>@Html.ActionLink("Прайс", "Get", "Price")</li>
                    <li>@Html.ActionLink("Мастера", "Get", "Masters")</li>
                    <li>@Html.ActionLink("Фото", "Get", "Photo")</li>
                    <li>@Html.ActionLink("Отзывы", "Get", "Review")</li>
                    <li>@Html.ActionLink("Статьи", "Get", "Article")</li>
                    <li>@Html.ActionLink("Контакты", "Get", "Contact")</li>
                    <li>@Html.ActionLink("Курсы", "Index", "Course")</li>
                    <li>@Html.ActionLink("Магазин", "Index", "Shop")</li>
                    @if (User.Identity.Name != "")
                    {
                    <li class="userName"><a href="#">@User.Identity.Name</a></li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("Вход", "Login", "User")</li>
                    }
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()

    </div>
    <footer class="footer">
        <div class="container">
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </div>
    </footer>

</body>
</html>