@model IEnumerable<GalleryViewModel>

@{
    ViewBag.Title = "Get";
}

<main class="main">
    @if (Model.Any())
    {
        var base64Main = Convert.ToBase64String(Model.FirstOrDefault().Photo);
        var imgSrcMain = string.Format("data:image/gif;base64,{0}", base64Main);
        <div class="row block-master">
            <div class="col-md-5">
                <img src="@imgSrcMain" alt="Master" id="mainPhoto" />
            </div>
            <div class="col-md-7">
                <h4 class="name-master">Описание</h4>
                <p class="about-master" id="descr">
                    @Model.FirstOrDefault().WorkDescription
                </p>
            </div>
        </div>
    }

    <div class="gallery-main">
        @foreach (var photo in Model)
        {
            var base64 = Convert.ToBase64String(photo.Photo);
            var imgSrc = string.Format("data:image/gif;base64,{0}", base64);
            <div onclick="setPhoto('@imgSrc', '@photo.WorkDescription')">
                <img src="@imgSrc" alt="1" />
                <p class="image-description">@photo.WorkDescription</p>
            </div>
        }
    </div>
</main>

<script>
    function setPhoto(img, desc) {
        $('#mainPhoto').attr('src', img);
        $('#descr').text(desc);
    }
</script>