@model IEnumerable<MasterToViewViewModel>

@{
    ViewBag.Title = "Get";
}

<main class="main mastersContainer">
        <h2 class="text-center">Здесь Вы можете познакомиться с нашими мастерами:</h2>
        <div class="mastersList row">
            @foreach (var master in Model)
            {
                var base64 = Convert.ToBase64String(master.Photo);
                var imgSrc = string.Format("data:image/gif;base64,{0}", base64);
                <div class="col-lg-6 masterItem clearfix">
                    <div class="col-sm-4 col-md-5 imgMaster text-center">
                        <img src="@imgSrc" alt='@(master.FirstName + " " + master.LastName)' />
                    </div>
                    <div class="col-sm-8 col-md-7">
                        <h4 class="mastersName">@master.FirstName @master.LastName</h4>
                        <div class="mastersDescription">
                            <p>Телефон:</p>
                            <p>@master.PhoneNumber</p>
                            <p>Краткое описание:</p>
                            <p>@master.Description</p>
                        </div>
                    </div>
                    <div class="gallery gallery-masters col-sm-12">
                        <div><img src="http://via.placeholder.com/250x250" alt="1" /><p class="image-description">Lorem ipsum dolor sit.</p></div>
                        <div><img src="http://via.placeholder.com/350x250" alt="2" /><p class="image-description"> Lorem ipsum dolor sit amet.</p></div>
                        <div><img src="http://via.placeholder.com/350x250" alt="3" /><p class="image-description"> Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p></div>
                        <div><img src="http://via.placeholder.com/350x250" alt="4" /><p class="image-description">Lorem ipsum dolor sit.</p></div>
                        <div><img src="http://via.placeholder.com/350x250" alt="5" /><p class="image-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p></div>
                        <div><img src="http://via.placeholder.com/350x250" alt="6" /><p class="image-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p></div>
                        <div><img src="http://via.placeholder.com/350x250" alt="7" /><p class="image-description">Lorem ipsum dolor sit.</p></div>
                    </div>
                </div>
            }
        </div>

    
</main>
